/* App Component */

.container {
  background-color: #f7f7f7;
  min-height: 100vh;
}

main {
  margin: 0 1.5rem 0 1.5rem;
}

.predicate-title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  color: #192f3f;
  margin: 0;
  padding: 2rem 0 1rem 0;
}

.and-button-container {
  padding-bottom: 4rem;
  border-bottom: 1px solid #e0e6ed;
}

.and-button {
  font-size: medium;
  padding: 7px 20px 7px 20px;
  background-color: #22a8f0;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-reset-button-container {
  margin-top: 1rem;
}

.search-button {
  font-size: medium;
  margin-right: 2rem;
  padding: 12px 33px 12px 33px;
  background-color: #22a8f0;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-icon-container {
  margin-right: 0.5rem;
}

.reset-button {
  font-size: medium;
  padding: 12px 22px 12px 22px;
  background-color: #a8b5c6;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sql-query-container {
  padding-bottom: 2rem;
}

.sql-query {
  display: flex;
  justify-content: center;
  padding: 3rem;
  min-height: 3rem;
  align-items: center;
  background-color: #fff;
  margin-top: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e6ed;
  color: #889aaa;
  font-style: italic;
  font-size: 1rem;
}

/* PredicateRow Component */

.predicate-row-container {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #a8b5c6;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.predicate-row-remove-button {
  margin-right: 1rem;
  color: #a8b5c6;
  font-size: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.row-selector-container {
  display: flex;
  flex-grow: 1;
}

.selector-container {
  display: flex;
  flex-grow: 1;
  margin-right: 1rem;
}

.selector {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #a8b5c6;
  border-radius: 0.25rem;
}

.is-and-container {
  display: flex;
  align-items: center;
  padding: 3px 10px 3px 10px;
  background-color: #e0e6ed;
  border: 1px solid #a8b5c6;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

.second-input-container {
  display: flex;
  flex-grow: 1;
}
